row, 
.column {
    box-sizing: border-box;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.column {
    position: relative;
    float: left;
}
.row:after {
    clear: both;
}

.col-xs-1 {
    height: 200px;
    width: 33.3226666668%;
}
.col-xs-2 {
    height: 200px;
    width: 33.3226666668%;
}
.col-xs-3 {
    height: 200px;
    width: 33.3226666668%;
}

.col-xs-4 {
    height: 200px;
    width: 49.992%;
}
.col-xs-5 {
    height: 200px;
    width: 49.992%;
}