.column {
    text-align: center;
    border: 2px solid black;
}
.col-xs-1 {
    background-color: cyan;
}
.col-xs-2 {
    background-color: gray;
}
.col-xs-3 {
    background-color: brown;
}
.col-xs-4 {
    background-color: blue;
}
.col-xs-5 {
    background-color: magenta;
}
.col-xs-6 {
    background-color: green;
}
.col-xs-7 {
    background-color: gold;
}
.col-xs-8 {
    background-color: maroon;
}
.col-xs-9 {
    background-color: orchid;
}
.col-xs-10 {
    background-color: khaki;
}
.col-xs-11 {
    background-color: skyblue;
}
.col-xs-12 {
    background-color: beige;
}
.col-xs-13 {
    background-color: chocolate;
}
.col-xs-14 {
    background-color: purple;
}
.col-xs-15 {
    background-color: crimson;
}
