row, 
.column {
    box-sizing: border-box;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}

.column {
    position: relative;
    float: left;
}

.row:after {
    clear: both;
}

.col-xs-1 {
    height: 200px;
    width: 33.3226666667%;
    background-color: red;
    color: white;
    text-align: center;
}
.col-xs-2 {
    height: 200px;
    width: 66.6613333333%;
    background-color: green;
    color: white;
    text-align: center;
    border: 2px solid black;
}
.col-xs-3 {
    height: 200px;
    width: 33.3226666668%;
    background-color: blue;
    color: white;
    text-align: center;
    border: 2px solid black;
}
.col-xs-4 {
    height: 200px;
    width: 33.3226666668%;
    background-color: orange;
    color: white;
    text-align: center;
    border: 2px solid black;
}
.col-xs-5 {
    height: 200px;
    width: 33.3226666668%;
    background-color: purple;
    color: white;
    text-align: center;
    border: 2px solid black;
}